@import "tailwindcss";

@theme {
  --color-yellow-light: #DBC170;
  --color-yellow: #B8952E;
  --color-yellow-dark: #846F2E;

  --color-gray-100: #F5F4F5;
  --color-gray-200: #B2AFB6;
  --color-gray-300: #98959D;
  --color-gray-400: #7A767F;
  --color-gray-500: #3E3C41;
  --color-gray-600: #2E2C30;
  --color-gray-700: #232225;
  --color-gray-800: #19181B;
  --color-gray-900: #050505;
}

body {
  font-family: var(--font-catamaran), sans-serif;
}

@layer base {
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  input[type="date"] {
    appearance: none;
  }
}